@import url(https://fonts.googleapis.com/css?family=Codystar);

body {
    text-align: center;
    background-color: #ff5050;
}
.newGrid {
    background-color: white;
    display: inline-block;
}

.changeGrid {
    background-color: black;
}

.gridContainer {
    width: 900px;
    height: 500px;    
    display: grid;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 0 auto;
    margin-top: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Codystar';
}

.button {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 10px;
}

#resetButton {
    text-align: center;
}

